*/5 * * * * PYTHONPATH=/path/to/patch-report /path/to/patch-report/bin/refresh
20 * * * * PYTHONPATH=/path/to/patch-report /path/to/patch-report/bin/send-daily-activity-emails
30 23 * * * PYTHONPATH=/path/to/patch-report /path/to/patch-report/bin/reset-cache
