[gerrit]
url = https://review.example.com

[patch_report]
cache_directory=/tmp

[project:nova]
patch_url=https://github.com/user/project/blob/master
repo_path=foo

[redmine]
url=https://redmine.example.com
username=foo
password=bar
ignore_errors=False

[web]
debug=true
