[gerrit]
url = https://review.example.com

[patch_report]
cache_directory=/tmp
repo_directory=/foo/bar

[project:nova]
github_url=https://github.com/user/project

[redmine]
url=https://redmine.example.com
key=foobar
ignore_errors=False

[web]
debug=true
