[gerrit]
url = https://review.example.com

[patch_report]
ignore_missing_series_file=False
cache_directory=/tmp
repo_directory=/foo/bar

[github:username]
api_url = https://github.example.com/api/v3
token = foo
match_string = -patches

[redmine]
url=https://redmine.example.com
key=foobar
ignore_errors=False
verify_cert = True

[web]
debug=true
